<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODO CATEGORIES</h1>
        <p class="text-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value)" class="form-inline">
            <div class="row">
                <div class="col-md-10 form-group">
                    <input 
                    
                    [(ngModel)]="categoryName" 

                    type="text" 
                    name="categoryName" 
                    class="form-control-plaintext drop-shadow" 
                    placeholder="Add New Categories here"
                    
                    required
                    #category="ngModel"
                    [ngClass]="{'border-danger':f.submitted && category.invalid}"
                    
                    >
                </div>
                <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">
                    {{dataStatus}}
                </button>
                <div class="text-danger ml-3" *ngIf="f.submitted && category.invalid && category.errors?.['required']">
                    Category is required...
                </div>
            
            </div>
        </form>
    </div>
</div>

<div class="row categories-list">
    <div class="col-md-3" *ngFor="let category of allCategories | async">
        <div class="card drop-shadow" 
        
        [style.border-left-color]="category.colorCode"
        
        >
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start">
                        <div class="badge badge-primary">CATEGORY</div>
                    </div>
                    <div class="float-end cat-tools">
                        <small> <i class="fa fa-pencil-alt text-success"
                            
                            (click)="onEdit(category.id,category.category)"
                            
                            ></i> </small>
                        <small> <i class="fas fa-trash text-danger"
                            
                            (click)="deleteCategory(category.id)"
                            
                            ></i> </small>
                    </div>
                </div>
                
                <div class="todo-content" [routerLink]="['/todo',category.id]">
                    <h3>{{category.category}}</h3>
                    <small class="text-secondary">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    </small>
                </div>
                <span class="badge badge-danger">{{category.todoCount}} - Todos</span>
            </div>
        </div>
    </div>
</div>